.mySlides {display:none;}









/*this is the css for the button*/

.button {
  display: inline-block;
 border-radius: 4px;
 background-color: #2dad67;
 border: none;
 color: #FFFFFF;
 text-align: center;
 font-size: 28px;
 padding: 19px;
 width: 210px;
 transition: all 0.5s;
 cursor: pointer;
 margin: 5px;
 position: relative;
 top: -15px;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#but_1{
  position: relative;
  top: auto;
}

#but_2 {
  position: absolute;
  top: 175px;
  left: 0px;
}

#but_3{
  position: absolute;
  top: 250px;
  left: 0px;
}

.abt {
  position: relative;
  top: 0px;
}
